<div class="drawer" #drawer>
  <div class="ion-text-center">
    <ion-button fill="clear" expand="full" (click)="toggleDrawer()">
      <div class="drawer-pull"></div>
    </ion-button>
    <b>BID SUMMARY</b>
  </div>

  <div>
    <p>BID SUMMARY CONTENT</p>
    <ion-list>
      <ion-item>Shiftlines Bid</ion-item>
      <ion-item>Vacation Leave Bid</ion-item>
      <ion-item>Lorem Ipsum</ion-item>
      <ion-item>Lorem Ipsum</ion-item>
      <ion-item>Lorem Ipsum</ion-item>
      <ion-item>Lorem Ipsum</ion-item>
    </ion-list>
  </div>
</div>